
<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/friends"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center custom">
        <span><i class="fa fa-users"></i></span>
        <br>Friends
      </a>
    </div>
    <div class="col-sm">
      <a href="/nixx"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center custom">
        <span><i class="fa fa-users"></i></span>
        <br>nixx
      </a>
    </div>
    <div class="col-sm">
      <a href="/username"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center custom">
        <span><i class="fa fa-users"></i></span>
        <br>username
      </a>
    </div>
    <div class="col-sm">
      <a href="/event"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center custom">
        <span><i class="fa fa-users"></i></span>
        <br>event
      </a>
    </div>
    <div class="col-sm">
      <a href="/jsproject"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center custom">
        <span><i class="fa fa-users"></i></span>
        <br>jsproject
      </a>
    </div>
    <div class="col-sm">
      <a href="/formdemo"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center custom">
        <span><i class="fa fa-users"></i></span>
        <br>formdemo
      </a>
    </div>
    <div class="col-sm">
      <a href="/post"
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center custom">
        <span><i class="fa fa-users"></i></span>
        <br>postList
      </a>
    </div>
  </div>
</div>