<p>home works!</p>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Friends
        </a>
      </div>
      <div class="col-sm">
        <a href="/nixx"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>nixx
        </a>
      </div>
      <div class="col-sm">
        <a href="/Button 3"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Button 3
        </a>
      </div>
      <div class="col-sm">
        <a href="/Button 4"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Button 4
        </a>
      </div>
    </div>
  </div>