
<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center custom">
          <span><i class="fa fa-users"></i></span>
          <br>Friends
        </a>
      </div>
      <div class="col-sm">
        <a href="/nixx"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center custom">
          <span><i class="fa fa-users"></i></span>
          <br>nixx
        </a>
      </div>
      <div class="col-sm">
        <a href="/username"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center custom">
          <span><i class="fa fa-users"></i></span>
          <br>username
        </a>
      </div>
      <div class="col-sm">
        <a href="/event"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center custom">
          <span><i class="fa fa-users"></i></span>
          <br>event
        </a>
      </div>
    </div>
    <div class="row" style="margin-top: 78px;">
      <div class="col-sm">
        <a href="/Button 5"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center custom">
          <span><i class="fa fa-users"></i></span>
          <br>Button 5
        </a>
      </div>
    </div>
  </div>