<div class="container" style="margin-top:40px; padding:20px; background-color:#eff0f2;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
    <form action="#" [formGroup]="registerForm">
        <div>
            <label for="Input">username:</label>
            <input type="text" placeholder="username" formControlName="username">
            <br>
            <span class="text-danger" *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">name is required</span>
            <span class="text-danger" *ngIf="registerForm.get('username')?.hasError('minlength') && registerForm.get('username')?.touched">minLength is 4</span>
        </div>
        <div>
            <label for="checkbox">Type:</label>
            <input type="text" placeholder="usertype" formControlName="usertype">
        </div>
        <div>
            <label for="checkbox">Type:</label>
            <textarea name="" id="" cols="30" rows="10" formControlName="description"></textarea>
            <!-- <textarea name="" id="" formControlName="description"></textarea> -->
        </div>
        <div>
            <p>{{name}}</p>
            <button type="button" (click)="register()" [disabled]="!registerForm.valid">register</button>
        </div>
    </form>
    <!-- <div *ngIf="registerForm.controls['username'].invalid" class="alert">
        invalid Form
    </div> -->
</div>

<div class="container" style="margin-top:40px; padding:20px; background-color:#eff0f2;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
    <form action="#" [formGroup]="secondForm">
        <table>
            <tr>
                <div class="form-group">
                    <label for="Input">username:</label>
                    <input type="text" placeholder="username" formControlName="username">
                    <br>
                    <span class="text-danger" *ngIf="secondForm.get('username')?.hasError('required') && secondForm.get('username')?.touched">name is required</span>
                    <span class="text-danger" *ngIf="secondForm.get('username')?.hasError('minlength') && secondForm.get('username')?.touched">minLength is 4</span>
                </div>
            </tr><tr>
                <div class="form-group">
                    <label for="checkbox">Type:</label>
                    <input type="text" placeholder="usertype" formControlName="usertype">
                </div>
            </tr><tr>
                <div class="form-group">
                    <label for="checkbox">Type:</label>
                    <textarea name="" id="" cols="30" rows="10" formControlName="description"></textarea>
                    <!-- <textarea name="" id="" formControlName="description"></textarea> -->
                </div>
            </tr>
            <tr>
                <div class="form-group" formArrayName="users">
                    <label for="">users</label>
                    <div *ngFor=" let control of secondFormGroups.controls; let i = index">
                        <input type="text" [formControlName]="i">
                    </div>
                </div>
            </tr>
            <tr>
                <div class="form-group" formArrayName="usersC">
                    <label for="">Complex Users</label>
                    <div *ngFor=" let cont of secondFormGroupsC.controls; let i = index;" [formGroupName]="i">
                        <input type="text" [formControlName]="'name'">
                        <input type="text" [formControlName]="'age'">
                        <input type="text" [formControlName]="'dept'">
                    </div>
                </div>
            </tr>

        </table>
        <p>{{name}}</p>
        <button type="button" (click)="registerS()" [disabled]="!secondForm.valid">register</button>
    </form>
    <!-- <div *ngIf="registerForm.controls['username'].invalid" class="alert">
        invalid Form
    </div> -->
</div>