* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Georgia;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1180px;
  padding: 0 10px;
  margin: 0;
}

header {
  margin: 0;
}

header h1 {
  background-color: red;
  padding: 40px 0 40px 60px;
  color: aliceblue;
}

#nav1 nav {
  height: 50px;
  background-color: purple;
  padding: 20px;
}

#nav1 nav li {
  float: left;
  list-style-type: none;
  margin: 10px 20px;
}

#nav1 nav li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}

#content {
  display: table;
}

#content1 {
  width: 70%;
  display: table-cell;
}

#content2 {
  width: 30% px;
  display: table-cell;
}

#content2 nav {
  height: 400px;
  background-color: #66c0e3;
  padding: 20px;
}

#content2 nav li {
  margin: 10px 20px;
}

#content2 nav li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

footer h1 {
  background-color: red;
  padding: 40px 0 40px 60px;
  color: aliceblue;
}
